<!DOCTYPE html>
<html lang="e">
<head>
    <meta charset="UTF-8">
    <!--enlaces del frontend-->
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <!--terminan enlaces del frontend-->
    <title>Eventos Académicos</title>
</head>
<body>
    <header>
        <div class="contenedor-logo">
            <!--Enlace frontend-->
            <a href="/Menu" title="Volver"><img src="/static/img/atras.png" class="logo"></a>
            <!--termina enlace frontend-->
        </div>
        <div class="contenedor-titulo">
            <p class="titulo-principal">Eventos Académicos</p>
        </div>
    </header>

    <div class="evento">
        <form action="/searchEvento" method="post" autocomplete="off">
            <div class="contenedor-buscador">
                <p class="margen">Filtrar evento por:</p>
                <select id="cmbfiltrar" name="filtrar" class="combobox-filtrar" required>
                    <option value="" disabled selected>Seleccionar</option>
                    <option value="Nombre">Nombre</option>
                    <option value="Fecha">Fecha</option>
                    <option value="Estado">Estado</option>
                </select>

                <input type="text" id="txtBuscarEvento" name="buscarEvento" placeholder="Buscar" class="textbox-buscar" required>
                <!--Enlace frontend-->
                <input type="image"  class="lupa" value="buscar" img src="/static/img/lupa.png" >
                <!--termina enlace frontend-->
            </div>

            <!--boton limpiar filtro configurado-->
            <a  href="/EventosAcademicos" id="btnlimpiarfiltro" class="boton-limpiar" title="Click para limpiar filtro de búsqueda" onclick="limpiarFiltro()">Limpiar filtro</a>
            <!--Aqui termina el boton limpiar filtro-->
            
            <div class="contenedor-tabla">
                <table class="tabla" id="lista-eventos">		
                    <thead>
                        <tr>
                            <th class="celdas">Nombre del evento</th>
                            <th class="celdas">Fecha</th>
                            <th class="celdas">Estado</th>
                            <th class="celdas">Descargar</th>
                            <th class="celdas">Inscripción</th>
                        </tr>
                    </thead>
                    <tbody id="contenido" class="contenido-Principal">
                        <% re.forEach((evento)=> { %>
                            <tr>
                                <td><%= evento.Nombre_Evento%></td>
                                <td><%= evento.Fecha_Inicio.toISOString().split('T')[0]%></td>
                                <td><%= evento.Descripcion%></td>
                                <td>
                                    <a href="/descargarpdf/<%= evento.ID_Evento%>/<%= evento.Nombre_Evento%>" target="_blank"><img class="imagen-pdf" src="/static/img/pdf.png" alt="Decargar"/>
                                </td>
                                <td>
                                    <a href="/InscribirmeEvento/<%= evento.ID_Evento%>"  class="inscribirme-tabla">Inscribirme</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </form>
        <!--Enlace frontend-->
        <img src="/static/img/eventos.png" class="imagen-eventos-EA">
        <!--termina enlace frontend-->
    </div>

    
    <p class="tituloEA">Eventos disponibles</p>
    <hr class="lineahorizontal-centrada"><br><br> 
    
    <div class="conte-eventoEA">
        <!--tabla de los eventos-->
        <table class="tabla" id="lista-eventoEA">	
            <thead>
                <tr>
                    <th>
                        
                    </th>       
                </tr>
            </thead>

            <tbody id="contenido-eventoEA">
                <!-- eventos cerrados -->
                <% rec.forEach((evento)=> { %>
                    <tr>
                        <th>
                            <!--tabla de la imagen del evento-->
                            <div class="conte-imagenesEA">
                                <div class="conte-tabla-imagenesEA">
                                    <table class="tablaEA" id="lista-eventos">		
                                        <tbody>
                                            <% res.forEach((imagenes)=> { %>
                                                <% if ( evento.ID_Evento ==  imagenes.ID_Evento){%>
                                                    <tr>
                                                        <th class="celdas-imagen">
                                                            <img width="100%" height="auto" src="/filesE/<%= imagenes.Url_Evento %>">       
                                                        </th>
                                                    </tr>  
                                                <%}%>  
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            <!--aqui termina la tabla de la imagen del evento-->
            
                                <div class="control-botones-imagenes">
                                    <a class="boton-descargarEA" href="/descargarpdf/<%= evento.ID_Evento%>/<%= evento.Nombre_Evento%>"  target="_blank">Descargar evento en PDF</a>    
                                </div>
                            </div>
            
                            <div class="control-EA">
                                <p class="label-EA1">Nombre del evento:</p>
                                <input type="text" id="txtNombreMiEvento" name="NombreMiEvento" class="textbox-EA1" value="<%= evento.Nombre_Evento%>" readonly>
                                <p class="label-EA2">Institución:</p>
                                <input type="text" id="txtInstitucionMiEvento" name="InstitucionMiEvento" class="textbox-EA2" value="<%= evento.Institucion%>" readonly>
                            </div>
            
                            <div class="control-areaEA">
                                <p class="label-EA1">Descripción del evento:</p>
                                <textarea name="DescripcionMiEvento" id="taDescripcionMiEvento" cols="65" rows="3" style="font-size: 1.29vw; font-family: cambria; color: #414141d3;" readonly><%= evento.Descripcion_Evento %></textarea> 
                            </div>
            
                            <div class="control-EA">
                                <p class="label-EA1">Fecha inicial:</p>
                                <input type="text" id="txtFecha1MiEvento" name="Fecha1MiEvento" class="textbox-EA1" value="<%= evento.Fecha_Inicio.toISOString().split('T')[0]%>" readonly> 
                                <p class="label-EA2">Fecha final:</p>
                                <input type="text" id="txtFecha2MiEvento" name="Fecha2MiEvento" class="textbox-EA2" value="<%= evento.Fecha_Final.toISOString().split('T')[0]%>" readonly>
                            </div>
            
                            <div class="control-EA">
                                <p class="label-EA1">Tipo de evento:</p> 
                                <input type="text" id="txtTipoMiEvento" name="TipoMiEvento" class="textbox-EA1" value="<%= evento.Descripcion%>" readonly> 
                                <p class="label-EA2">Organizador:</p>
                                <% rno.forEach((nomOrg)=> { %>
                                    <% if ( evento.ID_Evento ==  nomOrg.ID_Evento){%>
                                <a href="/Organizador/PerfilPublico/<%= evento.ID_Organizador%>" id="txtOrganizador" name="Organizador" title="Clic para ver perfil" class="textbox-EAenlace"><%= nomOrg.Nombre_Usuario%></a>
                                    <%}%>  
                                <% }) %>
                            </div>
            
                            <div class="control-botonesEA">
                                <div class="boton-informacion">
                                    <a href="/InformacionConferenciasPublico/<%= evento.ID_Evento%>" class="boton-EA1" title="Click para ver información">Información de conferencia o taller</a>
                                </div>
                                <div class="boton-agregar">
                                    <a href="/InscribirmeEvento/<%= evento.ID_Evento%>" class="boton-EA2" title="Click para inscribirse al evento">Inscribirme al evento</a>
                                </div>
                            </div>
                            
                            <div class="contenedor-tabla-blanco-EA">
                                <hr>
                            </div>
                            
                        </th>
                    </tr>
                    
                <% }) %>











                <!-- eventos abiertos -->
        <% r.forEach((evento)=> { %>
                <tr>
                    <th>
                        <!--tabla de la imagen del evento-->
                        <div class="conte-imagenesEA">
                            <div class="conte-tabla-imagenesEA">
                                <table class="tablaEA" id="lista-eventos">		
                                    <tbody>
                                        <% res.forEach((imagenes)=> { %>
                                            <% if ( evento.ID_Evento ==  imagenes.ID_Evento){%>
                                                <tr>
                                                    <th class="celdas-imagen">
                                                        <img width="100%" height="auto" src="/filesE/<%= imagenes.Url_Evento %>">       
                                                    </th>
                                                </tr>  
                                            <%}%>  
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        <!--aqui termina la tabla de la imagen del evento-->

                            <div class="control-botones-imagenes">
                                <a class="boton-descargarEA" href="/descargarpdf/<%= evento.ID_Evento%>/<%= evento.Nombre_Evento%>"  target="_blank">Descargar evento en PDF</a>    
                            </div>
                        </div>

                        <div class="control-EA">
                            <p class="label-EA1">Nombre del evento:</p>
                            <input type="text" id="txtNombreMiEvento" name="NombreMiEvento" class="textbox-EA1" value="<%= evento.Nombre_Evento%>" readonly>
                            <p class="label-EA2">Institución:</p>
                            <input type="text" id="txtInstitucionMiEvento" name="InstitucionMiEvento" class="textbox-EA2" value="<%= evento.Institucion%>" readonly>
                        </div>

                        <div class="control-areaEA">
                            <p class="label-EA1">Descripción del evento:</p>
                            <textarea name="DescripcionMiEvento" id="taDescripcionMiEvento" cols="65" rows="3" style="font-size: 1.29vw; font-family: cambria; color: #414141d3;" readonly><%= evento.Descripcion_Evento %></textarea> 
                        </div>

                        <div class="control-EA">
                            <p class="label-EA1">Fecha inicial:</p>
                            <input type="text" id="txtFecha1MiEvento" name="Fecha1MiEvento" class="textbox-EA1" value="<%= evento.Fecha_Inicio.toISOString().split('T')[0]%>" readonly> 
                            <p class="label-EA2">Fecha final:</p>
                            <input type="text" id="txtFecha2MiEvento" name="Fecha2MiEvento" class="textbox-EA2" value="<%= evento.Fecha_Final.toISOString().split('T')[0]%>" readonly>
                        </div>

                        <div class="control-EA">
                            <p class="label-EA1">Tipo de evento:</p> 
                            <input type="text" id="txtTipoMiEvento" name="TipoMiEvento" class="textbox-EA1" value="<%= evento.Descripcion%>" readonly> 
                            <p class="label-EA2">Organizador:</p>
                            <a href="/Organizador/PerfilPublico/<%= evento.ID_Organizador%>" id="txtOrganizador" name="Organizador" title="Clic para ver perfil" class="textbox-EAenlace"><%= evento.Nombre_Usuario%></a>
                        </div>

                        <div class="control-botonesEA">
                            <div class="boton-informacion">
                                <a href="/InformacionConferenciasPublico/<%= evento.ID_Evento%>" class="boton-EA1" title="Click para ver información">Información de conferencia o taller</a>
                            </div>
                            <div class="boton-agregar">
                                <a href="/InscribirmeEvento/<%= evento.ID_Evento%>" class="boton-EA2" title="Click para inscribirse al evento">Inscribirme al evento</a>
                            </div>
                        </div>
                        
                        <div class="contenedor-tabla-blanco-EA">
                            <hr>
                        </div>
                        
                    </th>
                </tr>
            	
            <% }) %>

            </tbody>

        </table>
        <!--Aqui termina la tabla de los eventos-->
    </div>

    <footer class="footerEA"></footer>

<!--Funcion para limpiar filtro-->
<script>
    var valor = document.getElementById("cmbfiltrar").value;
    
    function limpiarFiltro(){
        document.getElementById("txtBuscarEvento").value = "";  
        document.getElementById("cmbfiltrar").value = valor;   
    }
</script>
<!--Funcion para limpiar filtro-->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% if (typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: '<%= showConfirmButton %>',
            timer: '<%= timer %>'
        })
    </script>
  <% } %>
</body>
</html>