<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Perfil personal</title>
    <!--Enlaces del frontend-->
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">    
    <!--aqui termina enlaces del frontend-->
</head>

<body>
    
    <section class="posicion">

            <div class="posicion-imagen-PP">
                <div class="contenedor-logo-PP">
                    <!--Enlace frontend-->
                    <a href="/Menu" title="Volver"><img src="/static/img/atras.png" class="logo"></a>
                    <!--termina enlace frontend-->
                </div>
                <div class="contenedor-titulo-PP">
                    <p class="titulo-principal">Perfil personal</p>
                </div>
                <div class="contenedor-perfil-PP">
                    <table class="tabla-perfil-PP" id="lista-eventos">		
                    <!--Aqui se debe traer la imagen de perfil desde la base-->
                        <tbody>
                            <tr>
                                <th> <img src="/files/<%=fotoUser%>" class="celdas-perfil-PP"></th>
                            </tr>
                        </tbody>
                    <!--termina el de traer la imagen de perfil desde la base-->
                    </table>
                </div>
                <!--Aqui se debe traer el nombre de usuario desde la base-->
                <div class="contenedor-nombrePP">
                    <p><%=User%></p>
                </div>
                <!--Termina el de traer el nombre de usuario desde la base-->
                <div>
                    <fieldset  class="contenedor-descripcion-PP">
                        <legend>Título, descripción e intereses</legend>
                        <p><%=Descripcion%></p>
                    </fieldset>
                </div>
            </div>

            <div class="posicion-formulario-PP" >
                <div class="menu-desplegable-PP">     
                    <ul class="nav-PP">
                        <li>
                            <div class="contenedor-perfil">
                                <!--enlace del frontend-->
                                <img src="/static/img/trespuntos.png"  alt="" class="borrador-perfil-PP">
                                <!--aqui termina enlace del frontend-->
                            </div>
                            <ul class="ul-PP">
                                <li><a href="/MisInscripciones">Mis inscripciones</a></li>
                                <li><a href="/MisEventos">Mis eventos</a></li>
                                <li><a href="/HistorialEventos">Historial de eventos</a></li>
                                <li><a href="/EditarPerfil">Editar Perfil</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="institucion-PP">
                    <div class="contenedor-imagenPP">
                        <!--enlace del frontend-->
                        <img src="/static/img/universidad.png" class="imagenes-PP">
                        <!--termina enlace del frontend-->
                    </div>
                    <div class="contenedor-palabraPP">
                        <p class="palabraPP-p">Institución</p>
                        <hr>
                        <div class="institucionPP">
                        <!--aqui se debe traer la institucion desde la base-->
                            <p><%=Instituto%></p>
                        <!--termina el de traer la institucion desde la base-->
                        </div>
                    </div>
                </div>

                <div class="contenedor-palabraPP">
                    <p class="palabraPP-p">Formación académica</p>
                    <hr>
                    <div class="formacion-PP">
                        <img class="formacion-PP-imagen" src="/static/img/birrete.png">
                    <!--aqui se debe traer formacion academica desde la base--> 
                        <p class="formacion-PP-p"><%=Formacion%></p>
                    <!--termina el de traer formacion academica desde la base-->
                    </div>
                </div>
            </div>
    </section>    
</body>
</html>